.App {
  text-align: center;
}

.App-logo {
  height: 100%;
  margin: auto;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dragger {
  width: 100%;
  overflow: auto;
  display: flex;
}
